In [1]:
import pandas as pd
import numpy as np
import matplotlib

In [2]:
vale = pd.read_csv('./databases/VALE3 Historical Data.csv')

In [3]:
vale.head()

         Date  Price   Open   High    Low    Vol. Change %
0  03/26/2020  31.37  30.64  31.68  29.87  35.39M    2.79%
1  03/25/2020  30.52  28.53  30.89  28.45  37.93M    8.53%
2  03/24/2020  28.12  27.54  28.87  27.54  36.95M   10.40%
3  03/23/2020  25.47  26.56  26.79  24.93  41.74M   -3.12%
4  03/20/2020  26.29  28.31  29.44  25.93  50.20M   -3.31%

In [4]:
vale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      5000 non-null   object
 1   Price     5000 non-null   float64
 2   Open      5000 non-null   float64
 3   High      5000 non-null   float64
 4   Low       5000 non-null   float64
 5   Vol.      4999 non-null   object
 6   Change %  5000 non-null   object
dtypes: float64(4), object(3)
memory usage: 273.6+ KB

In [5]:
vale['Date'] = pd.to_datetime(vale['Date'])

In [6]:
vale.head()

        Date  Price   Open   High    Low    Vol. Change %
0 2020-03-26  31.37  30.64  31.68  29.87  35.39M    2.79%
1 2020-03-25  30.52  28.53  30.89  28.45  37.93M    8.53%
2 2020-03-24  28.12  27.54  28.87  27.54  36.95M   10.40%
3 2020-03-23  25.47  26.56  26.79  24.93  41.74M   -3.12%
4 2020-03-20  26.29  28.31  29.44  25.93  50.20M   -3.31%

In [27]:
vale.tail

<bound method NDFrame.tail of            Date  Price   Open   High    Low     Vol. Change %  Day_Variation
0    2020-03-26  31.37  30.64  31.68  29.87   35.39M    2.79%      -2.382507
1    2020-03-25  30.52  28.53  30.89  28.45   37.93M    8.53%      -6.975114
2    2020-03-24  28.12  27.54  28.87  27.54   36.95M   10.40%      -2.106028
3    2020-03-23  25.47  26.56  26.79  24.93   41.74M   -3.12%       4.103916
4    2020-03-20  26.29  28.31  29.44  25.93   50.20M   -3.31%       7.135288
...         ...    ...    ...    ...    ...      ...      ...            ...
4995 2000-01-07   1.66   1.62   1.67   1.62    4.02M    3.75%      -2.469136
4996 2000-01-06   1.60   1.60   1.64   1.60  599.36K    0.00%       0.000000
4997 2000-01-05   1.60   1.58   1.60   1.58    1.41M    0.00%      -1.265823
4998 2000-01-04   1.60   1.62   1.63   1.60  586.80K   -2.44%       1.234568
4999 2000-01-03   1.64   1.64   1.66   1.64  439.24K    0.00%       0.000000

[5000 rows x 8 columns]>

In [24]:
vale['Day_Variation'] = (vale['Open'] - vale['Price']) * 100 / vale['Open']

In [26]:
vale['Day_Variation'].describe()

count    5000.000000
mean       -0.013526
std         2.173720
min       -12.740989
25%        -1.227308
50%         0.000000
75%         1.193397
max        11.538462
Name: Day_Variation, dtype: float64

In [20]:
vale.loc[vale['Date'].dt.year >= 2020]['Change %'].str.replace('%','')

0       2.79
1       8.53
2      10.40
3      -3.12
4      -3.31
5      -5.82
6      -6.90
7       6.34
8      -9.02
9      21.36
10    -13.21
11     -9.08
12     18.44
13    -15.19
14     -4.80
15     -3.53
16      4.79
17     -0.03
18      4.62
19     -0.36
20     -1.95
21     -9.53
22     -3.95
23     -1.17
24      0.03
25     -1.15
26      4.72
27     -2.18
28     -1.74
29      1.95
30      3.71
31     -3.67
32     -2.21
33      0.56
34      1.36
35      2.68
36      1.28
37     -2.39
38      1.48
39     -0.89
40      1.38
41     -6.12
42     -3.06
43     -1.43
44      0.48
45     -2.31
46      0.63
47      3.32
48     -0.53
49     -0.31
50      0.61
51      3.64
52      0.10
53     -1.31
54      0.02
55      0.72
56     -0.60
57     -0.74
58      1.93
Name: Change %, dtype: object

In [13]:
vale['Date'].dt.year

0       2020
1       2020
2       2020
3       2020
4       2020
        ...
4995    2000
4996    2000
4997    2000
4998    2000
4999    2000
Name: Date, Length: 5000, dtype: int64